//- <!DOCTYPE html>
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         meta(http-equiv="X-UA-Compatible", content="ie=edge")
//-         title Document
//-     body

//- div.wrapper
//-     - const upperCase = name.toUpperCase();
//-     p.hello Hello!
//-     p My name is #{upperCase} #{lastname}. I'm #{age}.
//-     //- span#yo Yo!

//- //- h2 LOLO

extends layout
block content
    p This is the layout extension block